<h1>Edit Attraction</h1>


  <%= form_for @attraction do |a|%>
  <p>
    <%= a.label :title %><br />
    <%= a.text_field :title %>
  </p>
  <p>
    <%= a.label :location%>
    <%= a.text_field :location%>
  </p>
  <p>
    <%= a.label :price%>
    <%= a.text_field :price %>
  </p>
  <p>
    <%= a.label :url %>
    <%= a.text_field :url %>
  </p>
  <p>
    <%= a.submit%>
  </p>
  <% end %>
