<h1>Add New Attraction</h1>

<%= form_for @attraction do |a| %>
  <p>
    <%= a.label :title %><br>
    <%= a.text_field :title %>
  </p>
  <p>
    <%= a.label :location %><br>
    <%= a.text_field :location %>
  </p>
  <p>
    <%= a.label :url %><br>
    <%= a.text_field :url %>
  </p>
  <%= a.submit "SAVE"%>
<% end %>
